body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #3b013d;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a {
    color: white;
}

.logo {
    font-size: 24px;
}

.search-area {
    display: flex;
}

.search-area input {
    padding: 8px;
    border: none;
    border-radius: 3px;
}

.search-area button {
    padding: 5px 10px;
    border: none;
    margin-left: 3px;
    background-color: rgb(218, 8, 183);
    color: white;
    border-radius: 3px;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav li {
    margin: 0 15px;
}

main {
    padding: 20px;
}

.product-info {
    display: flex;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-image {
    max-width: 40%;
    margin-right: 20px;
}

.desc {
    flex: 1;
    font-size: large;
    font-weight: bold;
}

#home {
    color: wheat;
    font-size: 20px;
}

.price {
    margin: 10px 0;
}

.original-price {
    text-decoration: line-through;
    color: red;
}

.discounted-price {
    margin-left: 6px;
    font-size: 24px;
    color: green;
}

.buy-button {
    padding: 10px 30px;
    background-color: rgb(81, 4, 97);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.reviews {
    margin-top: 7%;
}

.review {
    padding: 10px;
    background-color: #72447a9c;
    border-radius: 10px;
    max-width: 300px;
    height: auto;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.offer {
    background-color: #eee;
    padding: 10px;
    margin-top: 20px;
}

footer {
    text-align: center;
    margin-top: 6%;
    padding: 20px;
    margin-bottom: 0;
    background-color: #3b013d;
    color: white;
}
